;=========================================
;Shared variables 
;=========================================
devenv = Visual Studio
autohotkey_spy = {{{my.windows.paths.win_style.ahk_spy}}}
process_explorer = {{{my.windows.paths.win_style.process_explorer}}}
divvy = {{{my.windows.paths.win_style.divvy}}}
camrec_exe = {{{my.windows.paths.win_style.camrec}}}
mingw = {{{my.windows.paths.win_style.msys}}}
cygwin = {{{my.windows.paths.win_style.cygwin}}}
conemu = {{{my.windows.paths.win_style.conemu}}}
camrec = Recording
camrec_preview = Preview
autohotkey_scripts = {{{my.windows.paths.win_style.ahk_scripts}}}

SysGet, screen_width, 59
SysGet, screen_height, 60 
screen_center_x := screen_width/2
screen_center_y := screen_height/2
left := screen_width/2
right := screen_width
middle_of_screen := screen_height/2
