[core]
autocrlf = {{ git.autocrlf }}
{{# core.is_windows }}
editor = {{git.editor}}
{{/core.is_windows}}

[user]
  email = {{{my.github.email}}}
  name = {{{my.github.full_name}}}

[alias]
  st = status -s
  ci = commit
  co = checkout
  df = diff
  dft = difftool
  mgt = mergetool
  lg = log -p
  lol = log --graph --decorate --oneline
  lola = log --graph --decorate --oneline --all

[merge]
  tool = {{ git.merge_tool }}

[diff]
  tool = {{ git.diff_tool }}

[push]
    default = current

[color]
  ui = auto

[difftool "kaleidoscope"]
  cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"

[difftool "bc3"]
	cmd = beyondcompare-diff.sh \"$LOCAL\" \"$REMOTE\"

[difftool]
  prompt = false

[mergetool]
  keepBackup = false


[mergetool "bc3"]
  cmd = beyondcompare-merge.sh \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
  trustExitCode = true
  keepBackup = false

[branch]
	autosetuprebase = always
