alias dwp="cd ~/repositories/github/dwp"
alias prep="cd ~/repositories/github/dwp/prep"
alias app="cd ~/repositories/github/dwp/app"
alias setup="cd ~/repositories/github/dwp/setup"
alias eahk="vim ~/repositories/developwithpassion/devtools/windows/autohotkey"
